.ChatMainConteiner {
  width: 100%;
  height: 50px;
  display: flex;
  border-radius: 8px;
  padding: 9px;

  flex-direction: column;
  bottom: 10px;
  position: fixed;
  backdrop-filter: 10px;
}
.ChatMainConteiner::-webkit-scrollbar {
  display: none;
}

.messageInput {
  padding: 5px;
  border-radius: 5px;
  border: none;

  margin-top: 10px;
}
.sendMessageButton {
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  border: none;
}

.SendArea {
  position: absolute;
  display: grid;
  grid-template-columns: 3fr 1fr;

  bottom: 10px;
  left: 25%;
  right: 50%;

  gap: 10px;

  height: 50px;
}
