.ChatConfigConteiner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: rebeccapurple;

    border-radius: 8px;
    overflow: auto;
}
.ChatConfigConteiner::-webkit-scrollbar {
    display: none;
}

.handleCloseBtn {
    border: none;
    background: none;
    gap: 5px;

    position: absolute;
    display: flex;

    place-items: center;
    place-content: center;

    top: 10px;
    height: 50px;
    margin: 0 auto;
    margin-left: 2px;
    padding: 5px;
    border-radius: 10px;

    left: 10px;

    font-size: 10px;
    color: #8e77a5;
}

.infoConteiner {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;

    overflow: auto;
}
.infoConteiner::-webkit-scrollbar {
    display: none;
}

.ulInfoManegers {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

    margin: 0;

    list-style: none;

    gap: 10px;

    overflow: scroll;
}

.ulInfoManegers::-webkit-scrollbar {
    display: none;
}

.liInfoManagers {
    display: flex;
    flex-direction: column;

    place-content: center;
    place-items: center;

    padding: 0;
    margin: 0;

    height: 70px;
    width: 60px;

    border: #6710bf 1px solid;
    border-radius: 8px;

    box-shadow: 0px 1px 10px 0px rgb(34, 29, 29);
}

.liInfoManagers:hover {
    transition: all ease-in-out 0.5s;
    background-color: #763bb1;
    display: flex;
    gap: 8px;

    .cargo {
        display: none;
    }

    .addAsManeger {
        display: flex;
        transition: all ease-in-out 0.5s;
    }
}

.addAsManeger {
    display: none;
}

/* abtratic remove styles */
.infoContent {
    display: flex;

    place-content: center;
    place-items: center;

    padding: 0;
    margin: 0;
}

.managersName {
    font-weight: bolder;
}

.cargo {
    text-align: left;
    font-style: italic;
    font-size: 10px;
    color: #8e77a5;
}

.leftInfoConteiner {
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    background-color: #401070;
    box-shadow: 1px 0px 5px 0px #350f5b;

    place-items: center;
    margin: 15px;
}

.chatNameSpan {
    margin-top: 50px;

    height: 50px;
    display: flex;

    place-content: center;
    place-items: center;

    padding: 5px;
    gap: 5px;

    font-weight: bolder;
}
.chatNameSpan > * {
    margin: 0;
    padding: 0;
}

.chatDescInfo {
    margin-top: 25px;
    width: 90%;

    display: flex;
    flex-direction: column;

    place-content: center;
    place-items: left;

    font-size: 15px;
    gap: 8px;

    text-shadow: 1px 1px 20px black;
}

.chatDescInfo > * {
    margin: 0;
    padding: 0;
}

.chatCategInfo {
    display: flex;
    flex-direction: column;
}

/* list of categorys related of chat */
.ulChatCateg {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    gap: 10px;
}

.liChatCateg {
    display: flex;
    place-content: center;
    place-items: center;
    gap: 5px;

    background-color: #6710bf;
    padding: 5px;
    margin: 0;

    border-radius: 5px;

    box-shadow: 0px 1px 5px 0px rgb(51, 51, 160);

    font-weight: bold;
}

.liChatCateg:hover {
    box-shadow: 0px 1px 8px 0px #8634d8;
}

.liChatCateg > * {
    display: flex;
    place-content: center;
    place-items: center;
    margin: 0;
    padding: 0;
}

/* modal add user */
.modalAddUserConteiner {
    z-index: 100;

    position: absolute;
    height: 100%;
    width: 100%;
}
.backgroundFilterConteinerModal {
    position: absolute;
    backdrop-filter: blur(2px); 

    height: 100%;
    width: 100%;

    display: flex;
    place-content: center;
    place-items: center;
}

.ContentConteiner {
    z-index: 1000;
    
    display: flex;

    display: flex;
    place-content: center;
    place-items: center;
    background-color: #350f5b;

    height: 450px;
    width: 350px;

    border-radius: 8px;
    box-shadow: 1px 5px 5px rgb(0, 0, 0) ;
    
}
