/* https://uiverse.io/ammarsaa/chatty-firefox-25 */
/* this card was made by 
ammarsaa, get this link to orignal post at uiverse.io */

.ConteinerRigth{
  height: 90%;
  display: flex;

  place-content: center;
  place-items: center;
  }

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 325px;
  height: 450px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;

  margin-top: 25px;
  padding-bottom: 50px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: rebeccapurple;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rebeccapurple;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(249, 236, 236, 0.879);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline rgb(13, 63, 212);
}

.signin a {
  color: rebeccapurple;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
  place-items: center;
  display: flex;
}

.form label .input {
  background-color: #171717;
  color: #ffffffd0;
  width: 100%;
  padding: 20px 05px 05px 5px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.83);
  border-radius: 10px;
}

.form label .input + span {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: rgb(128, 0, 255);
  top: 0px;
  font-size: 0.7em;
  font-weight: bold;
}

.input {
  font-size: small;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: rebeccapurple;
}

.submit:hover {
  background-color: rgba(102, 51, 153, 0.765);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}