.LoginConteiner {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    background-color: #242424;
    gap: 0 10px;
}

/* Error message */
.errorLogin {
    position: absolute;
    bottom: 4%;
    left: 35%;
    right: 45%;
    width: 30%;
    height: 80px;
    border-radius: 10px;
    background-color: rgba(232, 63, 63, 0.533);
    padding: 5px;
    place-items: center;
    display: flex;
    place-content: center;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 5);
}

/* Left side */
.LeftLoginConteiner {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    place-items: right;
    border-radius: 5px;
}

.JoinLeft {
    color: rebeccapurple;
    font-weight: bolder;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.LeftLoginConteinerImg {
    position: absolute;
    left: 50%;
    height: 150px;
    width: 150px;
}

/* Right side */
.RigthLoginConteiner {
    padding: 20px;
    gap: 10px 0;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    max-width: 325px;
    height: 450px;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
    border-radius: 20px;
    position: relative;
    margin-top: 25px;

    padding-bottom: 50px;
}

.RigthLoginDecoration {
    color: rebeccapurple;
}

/* Input labels */
label {
    height: 40px;
    width: 270px;
}

.input {
    padding: 10px 50px 0 50px;
    color: rgba(245, 245, 245, 0.712);
    font-family: Arial, Helvetica, sans-serif;
}

.RigthLoginConteiner label {
    position: relative;
    place-items: center;
    display: flex;
}

.RigthLoginConteiner label .input {
    background-color: #171717;
    max-width: 100%;
    height: 20px;
    width: 100%;
    outline: 0;
    margin-left: 5px;
    margin-top: 5px;
    border: 0.1px solid rgba(105, 105, 105, 0.83);
    font-size: small;
    border-radius: 10px;
}

.RigthLoginConteiner label .input + span {
    margin-top: 1px;
    color: rgb(128, 0, 255);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: small;
    cursor: text;
    transition: 0.3s ease;
}

.RigthLoginConteiner label .input:placeholder-shown + span {
    top: 12.5px;
    margin-bottom: 5px;
    font-size: x-small;
}

.RigthLoginConteiner label .input:focus + span,
.RigthLoginConteiner label .input:valid + span {
    color: rgb(128, 0, 255);
    top: 0px;
    font-size: small;
    font-weight: 400;
}

.RigthLoginConteiner input {
    padding: 10px 5px;
    border-radius: 10px;
    width: 80%;
}

.RigthLoginConteiner > button {
    padding: 10px 50px;
    background-color: rgb(128, 0, 255);
    border-radius: 15px;
    border: none;
    outline: 0;
    font-weight: 700;
}

.create {
    display: flex;
    place-content: center;
    place-items: center;
    font-size: smaller;
    gap: 5px;
    font-style: italic;
}

/* Card animation */
.spinner {
    position: absolute;
    top: 45%;
    right: 10px;
    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
    width: 50px;
    height: 50px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 100%;
    filter: blur(1px);
    box-shadow:
        0px -5px 20px 0px rgb(186, 66, 255),
        0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
    background-color: rgb(36, 36, 36);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    filter: blur(10px);
}

/* Keyframes */
@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(4px, 6px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes blink {
    20% {
        transform: translate(0, 0);
        height: 2rem;
    }
    30% {
        height: 0;
    }
    40% {
        transform: translate(5px, 10px);
        height: 0;
    }
    50% {
        height: 2rem;
    }
    70% {
        transform: translate(-10px, -10px);
    }
    90% {
        transform: translate(0, 0);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

/*card animation from iuverse.io*/
.spinner {
    position: absolute;
    top: 45%;
    right: 10px;

    background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
    width: 50px;
    height: 50px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 100%;
    filter: blur(1px);
    box-shadow:
        0px -5px 20px 0px rgb(186, 66, 255),
        0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
    background-color: rgb(36, 36, 36);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    filter: blur(10px);
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}
.loader {
    position: absolute;
    bottom: 10px;

    display: flex;
    width: 8rem;
    height: 8rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.head {
    width: 100%;
    height: 100%;
    background-color: #fa95fb;
    border-radius: 50%;
    animation: move 3s linear infinite;
    box-shadow: 0 1rem 1rem #e220b8;
    filter: blur(0.3rem);
    z-index: 1;
}

.eye {
    display: flex;
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: #efffc8;
    background: radial-gradient(
        rgba(255, 247, 247, 1) 20%,
        rgba(255, 170, 197, 1) 100%
    );
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 0 1rem #f752f7;
    animation: move 5s alternate infinite;
}

.eye::before {
    content: '';
    display: flex;
    width: 1rem;
    height: 2rem;
    background-color: #000;
    background: radial-gradient(
        rgba(0, 0, 0, 1) 44%,
        #e220b8 50%,
        transparent 60%
    );
    border-radius: 50%;
    animation: blink 4s ease-in-out alternate infinite;
}

.flames {
    display: flex;
    position: absolute;
    z-index: 0;
}

.particle {
    display: flex;
    position: absolute;
    background-color: #fa95fb;
    border-radius: 50%;
    filter: blur(0.3rem);
    border-top: 5px solid #e220b8;
    border-left: 5px solid #e220b8;
}

.flames::before {
    content: '';
    position: absolute;
    width: 8rem;
    height: 8rem;
    background: #f865d8;
    filter: blur(5rem);
    opacity: 0.5;
    border-radius: 50%;
    top: -8rem;
    left: -4rem;
    z-index: 4;
    animation: pulse 3s linear infinite;
}

.particle:nth-child(1) {
    width: 4rem;
    height: 4rem;
    top: -6rem;
    animation: move 7s alternate-reverse infinite;
}

.particle:nth-child(2) {
    width: 1.5rem;
    height: 1.5rem;
    top: -8rem;
    left: -5rem;
    animation: move 1.5s ease-in-out reverse infinite;
}

.particle:nth-child(3) {
    width: 4rem;
    height: 4rem;
    top: -5rem;
    left: -4rem;
    animation: move 8s alternate-reverse infinite;
}

.particle:nth-child(4) {
    width: 3rem;
    height: 3rem;
    top: -7.5rem;
    animation: move 4s alternate-reverse infinite;
}

.particle:nth-child(5) {
    width: 2rem;
    height: 2rem;
    top: -9rem;
    left: 1rem;
    animation: move 2.5s alternate-reverse infinite;
}

.particle:nth-child(6) {
    width: 2rem;
    height: 2rem;
    top: -6.8rem;
    left: -1.5rem;
    animation: move 5s alternate-reverse infinite;
}

.particle:nth-child(7) {
    width: 1rem;
    height: 1rem;
    top: -10rem;
    left: -1rem;
    animation: move 1.2s alternate-reverse infinite;
}

.particle:nth-child(8) {
    width: 1.3rem;
    height: 1.3rem;
    top: -7.5rem;
    left: -2rem;
    animation: move 2.5s alternate-reverse infinite;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(4px, 6px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes blink {
    20% {
        transform: translate(0, 0);
        height: 2rem;
    }

    30% {
        height: 0;
    }

    40% {
        transform: translate(5px, 10px);
        height: 0;
    }

    50% {
        height: 2rem;
    }

    70% {
        transform: translate(-10px, -10px);
    }

    90% {
        transform: translate(0, 0);
    }
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}
