.ProfileConteiner {
  position: relative;

  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 0;
  margin: 0;
  flex-direction: column;
  border-radius: 10px;
  background-color: #301849;
}
.ProfileBackButton {
  position: absolute;
  top: 10px;
  left: 10px;

  font-weight: bolder;
  text-align: center;

  padding: 1px 5px;
  background: none;
  border: none;
}

.CreateChatButton {
position: absolute;
bottom: 90px;

  display: flex;
  background: none;
  color: white;
  font-weight: bolder;
  gap: 	10px;
  border: none;
  background-color: gray;
  border: 1px solid gray;
  border-radius: 5px;

  margin: 0;
  gap: 10px;

}


.ProfilePicture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}

.BioContent {
  display: flex;
  place-content: center;
  place-items: left;
  padding: 0 30px;

  box-sizing: border-box;
  width: inherit;

  max-height: 200px;
  overflow-y: auto;

  word-wrap: break-word;

  text-overflow: ellipsis;
}
.BioContent::-webkit-scrollbar {
  display: none;
}

.ProfileInfos {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: inherit;
}

/*user username*/
.spanUserName{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
}





/*user bio*/
.spanBio {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 15px;
  }
 .bioSvg {
    width: 70px;
    height: 70px;
}
.spanBio, p {
    margin-left: 10px;
    font-size: 12px;
}

.EditProfile {
  display: flex;

  place-content: center;
  place-items: center;

  padding: 5px 10px;
  border-radius: 5px;

  margin: 0;
  gap: 10px;
  color: white;

  background-color: gray;
  border: 1px solid gray;

  position: absolute;
  bottom: 50px;
}

.EditProfileH5 {
  padding: 0;
  margin: 0;
}
.EditProfileImg {
  display: flex;
  width: 25px;
}
.BioContentInput {
  display: block;
  place-content: start;
  place-items: start;

  width: 70%;

  padding: 10px;
  border: none;

  background-color: darkgray;
  border-radius: 5px;

  overflow: auto;
  box-sizing: border-box;
}
