.ProfileConteiner {
    position: relative;

    display: flex;
    height: 100%;

    align-items: center;
    gap: 0;
    margin: 0;
    flex-direction: column;
    border-radius: 10px;

    background-color: rgb(2, 147, 147);
}
.ProfileBackButton {
    position: absolute;
    top: 10px;
    left: 10px;

    font-weight: bolder;
    text-align: center;

    padding: 1px 5px;
    border-radius: 10px;
}

.ProfilePicture {
    height: 80px;
    width: 80px;

    border-radius: 50%;

    border: none;
}

.BioContent {
    display: flex;
    place-content: center;
    place-items: left;
    padding: 0 30px;
}

.ProfileInfos {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.EditProfile {
    display: flex;

    place-content: center;
    place-items: center;

    padding: 5px 10px;
    border-radius: 5px;

    margin: 0;
    gap: 10px;

    background-color: gray;
    border: 1px solid gray;
}

.EditProfileH5 {
    padding: 0;
    margin: 0;
}
.EditProfileImg {
    display: flex;
    width: 25px;
}
