.RenderMessageConteiner {
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;

  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;

  max-height: 600px;
  height: 100%;
}

.RenderMessageConteiner::-webkit-scrollbar {
  display: none;
}

.RenderMessageConteiner ul,
li {
  list-style: none;
  text-decoration: none;
}

/*Other user side */
.OtherUser {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.OtherUserSide {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  max-width: 500px;
  text-align: left;
}
.RenderMessageOther {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  max-width: 500px;
  place-content: center;
  text-align: left;
}
.RenderMessageOther > h4,
.RenderMessageOther > h5 {
  text-align: left;
  background-color: red;
}

/*current user*/
.CurrentUser {
  display: flex;

  justify-content: flex-end;
  justify-items: flex-end;
}
.CurrentUserSide {
  display: flex;
  place-content: center;
  place-items: center;

  height: 100px;
  
  flex-direction: column;
  word-wrap: break-word;
  max-width: 500px;
}

.CurrentUserSide > h4,
.CurrentUserSide > h5 {
  text-align: right ;
}

.UserSide > h4,
h5 {
  text-align: right;
}
.RenderMessageYou {
  text-align: right;
  margin-right: 10px;
}
