.RenderMessageConteiner {
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;

  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;

  max-height: 600px;
  height: 100%;
}
.RenderMessageConteiner::-webkit-scrollbar {
  display: none;
}
.RenderMessageConteiner ul,
li {
  list-style: none;
  text-decoration: none;
}

.RenderMessageLi {
  display: flex;
  place-items: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 450px;
  width: 100%;
}

.RenderMessageLi {
  display: flex;
  word-wrap: break-word;
  max-width: 500px;
}
/*Other user side */
.OtherUser {
  display:  flex;
  flex-direction: column;
  text-align: left;
  margin: 0;
  

}

.OtherUserSide {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  max-width: 500px;
  text-align: left;
}
.RenderMessageOther {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  max-width: 500px;
  place-content: center;
  text-align: left;
}
.RenderMessageOther > h4,
h5 {
  text-align: left;
  background-color: red;
}



/*current user*/
.CurrentUser {
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  
}
.CurrentUserSide {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  max-width: 500px;
  place-content: center;
}

.UserSide > h4,
h5 {
  text-align: right;
}
.RenderMessageYou {
  text-align: right;
  margin-right: 10px;
}
