#root {
  max-width: 1280px;
  max-height: 500px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.MainGrid {
  display: grid;
  grid-template-columns: 5fr 2fr;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #301849;
  border-radius: 5px;
}

.MainGridChatName {
  border: none;
  background:none;
  gap: 5px;
  
  position: absolute;
  display: flex;

  place-items: center;
  place-content: center;
  
  top: 10px;
  height: 50px;
  margin: 0 auto;
  margin-left: 2px;
  padding: 5px;
  border-radius: 10px;
  
  left: 10px;
  
  font-size: 10px;
  color: #8e77a5;

}
